<h1>Greeting</h1>
<div ng-show="authenticated">

	<h2>The User Info</h2>
	<p>{{controller.userinfo}}</p>

	<h2>http invoke</h2>

	<ul>
		<li>通过ajax调用admin的服务，也可通过浏览器直接调用：http://localhost:12000/gw/retail-spu/v1/unit/list?shopId=1</li>
		<li>通过ajax调用route的服务，不可通过浏览器直接调用，会报无权限访问：http://localhost:14000/retail-spu/v1/unit/list?shopId=1</li>
		<li>通过浏览器直接调用服务本身(不需要认证)，不可通过ajax调用，会报cors：http://localhost:9001/v1/unit/list?shopId=1</li>
	</ul>

	<button ng-click="controller.httpInvoke()">invoke</button>
	method: <input type="text" name="httpMethod" ng-model="httpMethod" placeholder="http method"/>
	url: <input type="text" name="invokeUrl" ng-model="invokeUrl" size="100" placeholder="url"/>
	<br/>
	<h4>http request body</h4>
	<textarea name="httpBody" ng-model="httpBody" rows="5" cols="100"></textarea>
	<br/>
	<h2>http response body</h2>
	<textarea name="httpResponse" ng-model="httpResponse" rows="8" cols="100"></textarea>

</div>
<div  ng-show="!authenticated">
	<p>Login to see your greeting</p>
</div>
